// less that run in wp-admin


// mixin
// Sprite Function
.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}


// tagDiv Composer icons
.tdc-element-ico {
  background-image: url('../../../../images/pagebuilder/tdc-icons.png');
  background-position: -5px -5px;
}

.tdc-ico-vc_row {
  .stitches-sprite(-5px, -39px, 40px, 24px);
}

.tdc-ico-vc_row_inner {
  .stitches-sprite(-5px, -73px, 40px, 24px);
}

.tdc-ico-vc_empty_space {
  .stitches-sprite(-5px, -107px, 40px, 24px);
}

.tdc-ico-td_block_1 {
  .stitches-sprite(-5px, -141px, 40px, 24px);
}

.tdc-ico-td_block_2 {
  .stitches-sprite(-5px, -175px, 40px, 24px);
}

.tdc-ico-td_block_3 {
  .stitches-sprite(-5px, -209px, 40px, 24px);
}

.tdc-ico-td_block_4 {
  .stitches-sprite(-5px, -243px, 40px, 24px);
}

.tdc-ico-td_block_5 {
  .stitches-sprite(-5px, -277px, 40px, 24px);
}

.tdc-ico-td_block_6 {
  .stitches-sprite(-55px, -5px, 40px, 24px);
}

.tdc-ico-td_block_7 {
  .stitches-sprite(-55px, -39px, 40px, 24px);
}

.tdc-ico-td_block_8 {
  .stitches-sprite(-55px, -73px, 40px, 24px);
}

.tdc-ico-td_block_9 {
  .stitches-sprite(-55px, -107px, 40px, 24px);
}

.tdc-ico-td_block_10 {
  .stitches-sprite(-55px, -141px, 40px, 24px);
}

.tdc-ico-td_block_11 {
  .stitches-sprite(-55px, -175px, 40px, 24px);
}

.tdc-ico-td_block_12 {
  .stitches-sprite(-55px, -209px, 40px, 24px);
}

.tdc-ico-td_block_13 {
  .stitches-sprite(-55px, -243px, 40px, 24px);
}

.tdc-ico-td_block_14 {
  .stitches-sprite(-55px, -277px, 40px, 24px);
}

.tdc-ico-td_block_15 {
  .stitches-sprite(-105px, -5px, 40px, 24px);
}

.tdc-ico-td_block_16 {
  .stitches-sprite(-105px, -39px, 40px, 24px);
}

.tdc-ico-td_block_big_grid {
  .stitches-sprite(-105px, -73px, 40px, 24px);
}

.tdc-ico-td_block_big_grid_2 {
  .stitches-sprite(-105px, -107px, 40px, 24px);
}

.tdc-ico-td_block_big_grid_3 {
  .stitches-sprite(-105px, -141px, 40px, 24px);
}

.tdc-ico-td_block_big_grid_4 {
  .stitches-sprite(-105px, -175px, 40px, 24px);
}

.tdc-ico-td_block_big_grid_5 {
  .stitches-sprite(-105px, -209px, 40px, 24px);
}

.tdc-ico-td_block_big_grid_6 {
  .stitches-sprite(-105px, -243px, 40px, 24px);
}

.tdc-ico-td_block_big_grid_7 {
  .stitches-sprite(-105px, -277px, 40px, 24px);
}

.tdc-ico-td_block_ad_box {
  .stitches-sprite(-155px, -5px, 40px, 24px);
}

.tdc-ico-td_block_authors {
  .stitches-sprite(-155px, -39px, 40px, 24px);
}

.tdc-ico-vc_column_text {
  .stitches-sprite(-155px, -73px, 40px, 24px);
}

.tdc-ico-td_block_exchange {
  .stitches-sprite(-155px, -107px, 40px, 24px);
}

.tdc-ico-td_block_homepage_full_1 {
  .stitches-sprite(-155px, -141px, 40px, 24px);
}

.tdc-ico-td_block_instagram {
  .stitches-sprite(-155px, -175px, 40px, 24px);
}

.tdc-ico-td_block_trending_now {
  .stitches-sprite(-155px, -209px, 40px, 24px);
}

.tdc-ico-td_block_popular_categories {
  .stitches-sprite(-155px, -243px, 40px, 24px);
}

.tdc-ico-vc_raw_html {
  .stitches-sprite(-155px, -277px, 40px, 24px);
}

.tdc-ico-vc_wp_recentcomments {
  .stitches-sprite(-205px, -5px, 40px, 24px);
}

.tdc-ico-vc_separator {
  .stitches-sprite(-205px, -39px, 40px, 24px);
}

.tdc-ico-vc_single_image {
  .stitches-sprite(-205px, -73px, 40px, 24px);
}

.tdc-ico-td_block_list_menu {
  .stitches-sprite(-255px, -141px, 40px, 24px);
}

.tdc-ico-td_block_slide {
  .stitches-sprite(-205px, -107px, 40px, 24px);
}

.tdc-ico-td_block_social_counter {
  .stitches-sprite(-205px, -141px, 40px, 24px);
}

.tdc-ico-td_block_text_with_title {
  .stitches-sprite(-205px, -175px, 40px, 24px);
}

.tdc-ico-td_block_title {
  .stitches-sprite(-255px, -107px, 40px, 24px);
}

.tdc-ico-td_block_video_youtube {
  .stitches-sprite(-205px, -209px, 40px, 24px);
}

.tdc-ico-td_block_video_vimeo {
  .stitches-sprite(-205px, -243px, 40px, 24px);
}

.tdc-ico-td_block_weather {
  .stitches-sprite(-205px, -277px, 40px, 24px);
}


.tdc-ico-vc_widget_sidebar {
  .stitches-sprite(-255px, -5px, 40px, 24px);
}

.tdc-ico-rev_slider {
  .stitches-sprite(-255px, -39px, 40px, 24px);
}

.tdc-ico-td_block_pinterest {
  .stitches-sprite(-255px, -73px, 40px, 24px);
}

.tdc-responsive-buttons {
  .tdc-responsive-all {
    width: 90px;
  }
  .tdc-responsive-tablet-portrait,
  .tdc-responsive-phone {
    width: 89px;
  }
}