/*
Theme Name: 	Newsmag
Theme URI: 		http://themeforest.net/user/tagDiv/portfolio
Description: 	Premium wordpress template, clean and easy to use.
Version: 		__td_deploy_version__
Author: 		tagDiv
Author URI: 	http://themeforest.net/user/tagDiv/portfolio
License:
License URI:
Tags:black, white, one-column, two-columns, fixed-layout
*/


/*

    ___________________________________________
   |   __  _ ___  _   _   __  __ __  __   __   |
   |  |  \| | __|| | | |/' _/|  V  |/  \ / _]  |
   |  | | ' | _| | 'V' |`._`.| \_/ | /\ | [/\  |
   |  |_|\__|___|!_/ \_!|___/|_| |_|_||_|\__/  |
   |___________________________________________|

  ~ tagDiv 2018 ~

  Thanks for using our theme !
  Our portfolio is here: http://themeforest.net/user/tagDiv/portfolio

*/


// speed booster fix?
body {
  visibility: visible !important;
}


@import "variables.less";
@import "mixin.less";

// Reset
@import "normalize.less";
@import "print.less";

//misc
@import "page.less";
@import "category.less";
@import "widgets-default.less";
@import "plugins.less";
@import "weather.less";
@import "exchange.less";
@import "instagram.less";
@import "pinterest.less";

// grid
@import "grid/grid.less";
@import "grid/grid_blocks.less";
@import "grid/grid_responsive.less";


//animations css
@import "animations_compact.less";

//menus
@import "header.less";
@import "header-style.less";
@import "menu-top.less";
@import "menu-header.less";
@import "menu-mobile.less";

@import "type.less";
@import "post.less";
@import "post-sharing.less";
@import "post-templates.less";
@import "sprite.less";
//@import "editor-style.less";


//waiting loading box
@import "td_loading_box.less";


//pagebuilder

@import "pagebuilder/modules/modules.less";
@import "pagebuilder-elements.less";
@import "td-composer.less";


//modules
@import "pagebuilder/modules/module_1.less";
@import "pagebuilder/modules/module_2.less";
@import "pagebuilder/modules/module_3.less";
@import "pagebuilder/modules/module_4.less";
@import "pagebuilder/modules/module_5.less";
@import "pagebuilder/modules/module_6.less";
@import "pagebuilder/modules/module_7.less";
@import "pagebuilder/modules/module_8.less";
@import "pagebuilder/modules/module_9.less";
@import "pagebuilder/modules/module_10.less";
@import "pagebuilder/modules/module_11.less";
@import "pagebuilder/modules/module_12.less";
@import "pagebuilder/modules/module_13.less";
@import "pagebuilder/modules/module_14.less";
@import "pagebuilder/modules/module_15.less";
@import "pagebuilder/modules/module_mx1.less";
@import "pagebuilder/modules/module_mx2.less";
@import "pagebuilder/modules/module_mx3.less";
//module td-slide
@import "pagebuilder/modules/td-slide.less";

//css splitter for ie8 ie9
;#td_css_split_separator{visibility: visible};

//pulldown-filter
@import "pulldown-filter.less";
@import "pagebuilder/shortcodes/blocks.less";
@import "pagebuilder/shortcodes/td_block_ad_box.less";
@import "pagebuilder/shortcodes/big-grids.less";
@import "pagebuilder/shortcodes/big-grids-style.less";

@import "pagebuilder/shortcodes/td_social.less";
@import "pagebuilder/shortcodes/td_definition_list.less";
@import "pagebuilder/shortcodes/td_block_authors.less";
@import "pagebuilder/shortcodes/td_block_popular_categories.less";


//td video playlist
@import "td_video_playlist.less";


//widgets

//css splitter for ie8 ie9
;#td_css_split_separator{visibility: visible};

//misc

@import "comments.less";
@import "font-icons.less";


@import "review.less";
@import "footer.less";
@import "galleries.less";
@import "totop.less";
@import "style_customizer.less";
@import "magnific-popup.less";
@import "modal-window.less";

@import "retina.less";

@import "shortcodes_other.less";


//more stories box
@import "more-stories.less";

//css splitter for ie8 ie9
;#td_css_split_separator{visibility: visible};

//gallery-slider
@import "gallery-slider.less";

//smart lists slider
@import "smart_lists.less";

//plugins
//@import "woocommerce.less";
//@import "bbpress.less";
@import "buddypress.less";

@import "quote_on_blocks.less";

//IE - android and IOS devices
@import "td-detect.less";



//// theme animation fade selectors
//body.lazy-animation .td-animation-stack .entry-thumb,
//body.lazy-animation .post img {
//  opacity: 1;
//  transition: opacity 0.3s;
//  transition-timing-function: cubic-bezier(.39,.76,.51,.56); /* linear */
//}

@import "animation-stack.less";


// backstretch image for site bg image
.backstretch {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -99999;
  top: 0;
}

body .td-backstretch {
  max-width: none;
  opacity: 0;
  transition: opacity 2s;
  display: block;
}

body .td-stretch-width {
  height: auto;
  width: 100.03%;
  margin: 0;
  position: relative;

  left: 50%;
  .transform(translateX(-50%));
}

body .td-stretch-height {
  position: relative;
  height: 100%;
  width: auto;


  left: 50%;
  .transform(translateX(-50%));
}

// background ad click cursor
.td-ad-background-link {
  #td-outer-wrap {
    cursor: pointer;

    // fix for clickable background ad image not working..
    .td-main-content-wrap {
      pointer-events: none;
    }
    .td-main-content-wrap .td-container {
      pointer-events: auto;
    }
  }
}

.td-ad-background-link {
  .td-header-container,
  .td-container {
    cursor: auto;
  }
}

// background ad click cursor adjustment for post template 6
.single_template_6 {
  &.td-ad-background-link{
    #td-outer-wrap {
      cursor: auto;
    }
  }
}

// item scope meta
.td-page-meta {
  display: none;
}