<div class="thrv_wrapper thrv_icon tcb-icon-display tve_evt_manager_listen tve_et_click tve_ea_thrive_leads_form_close" data-css="tve-u-15d9e95bd96" data-tcb-events="__TCB_EVENT_[{&quot;a&quot;:&quot;thrive_leads_form_close&quot;,&quot;t&quot;:&quot;click&quot;}]_TNEVE_BCT__">
<svg class="tcb-icon" viewBox="0 0 30 32" data-name="close">
<path d="M0.655 2.801l1.257-1.257 27.655 27.655-1.257 1.257-27.655-27.655z"></path>
<path d="M28.31 1.543l1.257 1.257-27.655 27.655-1.257-1.257 27.655-27.655z"></path>
</svg>
</div>
<div class="thrv_wrapper thrv-page-section">
<div class="tve-page-section-out"></div>
<div class="tve-page-section-in tve_empty_dropzone"><div class="thrv_wrapper thrv-columns"><div class="tcb-flex-row tcb-resized tcb--cols--2" data-css="tve-u-15dc680bbaf"><div class="tcb-flex-col" data-css="tve-u-15dc6764a29"><div class="tcb-col tve_empty_dropzone"><div class="thrv_wrapper tve_image_caption" data-css="tve-u-15dc6745b67"><span class="tve_image_frame" style="width: 100%;"><img class="tve_image" alt="" srcset="{tve_leads_base_url}/images/uiuxpatterns-150x150.png 150w, {tve_leads_base_url}/images/uiuxpatterns-230x300.png 230w, {tve_leads_base_url}/images/uiuxpatterns.png 358w" sizes="(max-width:358px) 100vw, 358px" width="358" height="466" title="uiuxpatterns" data-id="2497" src="{tve_leads_base_url}/images/uiuxpatterns.png" style="width: 100%;"></span></div></div></div><div class="tcb-flex-col" data-css="tve-u-15dc6764a47"><div class="tcb-col tve_empty_dropzone"><div class="thrv_wrapper thrv_heading" data-css="tve-u-15dc6760fbf"><h2 data-css="tve-u-15dc6758e46" data-default="Your Heading Here">Sign up to download this <span style="color: rgb(107, 190, 101);">FREE</span> Ebook</h2></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone"><p data-css="tve-u-15dc67750a3" data-default="Enter your text here...">You can download 5 magazines for free.</p></div><div class="thrv_wrapper thrv_lead_generation" data-connection="api"><input type="hidden" class="tve-lg-err-msg" value="{&quot;email&quot;:&quot;Email address invalid&quot;,&quot;phone&quot;:&quot;Phone number invalid&quot;,&quot;password&quot;:&quot;Password invalid&quot;,&quot;passwordmismatch&quot;:&quot;Password mismatch error&quot;,&quot;required&quot;:&quot;Required field missing&quot;}">
<div class="thrv_lead_generation_container tve_clearfix">
<form action="#" method="post" novalidate="novalidate">
<div class="tve_lead_generated_inputs_container tve_clearfix tve_empty_dropzone">
<div class="tve_lg_input_container tve_lg_input" data-css="tve-u-15dc67c3472">
<input type="email" data-field="email" data-required="1" data-validation="email" name="email" placeholder="Email" data-placeholder="Email">
</div>
<div class="tve_lg_input_container tve_lg_input" data-css="tve-u-15dc67c3481">
<input type="text" data-field="name" name="name" placeholder="Name" data-placeholder="Name">
</div>
<div class="tve_lg_input_container tve_submit_container tve_lg_submit" data-css="tve-u-15dc6789292">
<button type="submit"><span class="">DOWNLOAD EBOOK</span></button>
</div>
</div>
</form>
</div>
</div></div></div></div></div></div>
</div>