/*  ----------------------------------------------------------------------------
    Block Wrap
*/
.td_block_wrap {
  position: relative;
  clear: both;
}

/* title / label */
.block-title {
  display: inline-block;
  line-height: 20px; //22px
  margin: 0 0 20px 20px;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    margin-left: 17px;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-left: 10px;
    margin-right: 10px;
  }

  & > a,
  & > span {
    font-family: @font1;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background-color: #222;
    border-radius: 3px;
    padding: 2px 15px;
    position: relative;
    display: inline-table;
    vertical-align: middle;
    line-height: 16px;
    top: -2px;
  }
}

// category tag on blocks, modules
.td-post-category {
  font-family: @font1;
  padding: 2px 5px 3px;
  background-color: #222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  margin-right: 5px;
  position: relative;

  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  vertical-align: middle;
  line-height: 1;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    display: none;
  }

  &:hover {
    color: #ffffff;
    background-color: @td_theme_color;
  }
}



/*  ----------------------------------------------------------------------------
    pagination
    @todo display inline?
    @todo numa mai bune la clase
*/

.ajax-page-disabled {
  opacity: 0.5;
}

/* load more button*/
.td_ajax_load_more {
  display: inline-block;
  margin-bottom: 21px !important;

  .td-icon-menu-down {
    font-size: 8px;
    position: relative;
    top: -6px;
    display: block;
  }
}

.td-load-more-wrap {
  text-align: center;
  clear: both;

  a {
    color: #222222;

    &:hover {
      color:@td_theme_color;
    }
  }
}


/* next prev */
.td-next-prev-wrap {
  margin: 0 0 0 20px;
  line-height: 21px;
  clear: both;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    margin: 0 0 0 17px;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin: 0 0 0 10px;
  }

  a {
    display: inline-block;
    margin-bottom: 19px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin-bottom: 16px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-bottom: 19px;
    }

    &:hover {
      i {
        background-color: @td_theme_color;
        color: #ffffff !important;
        border-color: @td_theme_color;
      }
    }
  }

  .td-ajax-prev-page {
    margin-right: 4px;
  }

  i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=94)";//IE8
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid @td_grid_border_color;
    font-size: 9px;
    color: #444;
    line-height: 1;
    padding: 3px 6px;
  }
}


.td_block_inner_overflow {
  overflow: hidden;
}

/*  ----------------------------------------------------------------------------
    infinite loader
*/

.td-load-more-infinite-wrap {
  //display: none;
  visibility: hidden;
}


/*  ----------------------------------------------------------------------------
    Custom menu blocks - big grid pages
*/
.td-menu-blocks-custom {
  margin-top: 20px;
  margin-bottom: -26px;

  .widget {
    margin-bottom: 0;
  }

  ul {
    text-align: center;

    li {
      display: inline-block;
      margin: 4px 2px;

      a {
        border: 1px solid #eaeaea;
        border-radius: 20px;
        padding: 0 12px;
        font-size: 12px;
        font-family: @font3;
        font-weight: 500;
        line-height: 26px;
        display: block;

        /* responsive portrait phone */
        @media (max-width: @responsive_p_phone_max) {
          line-height: 28px;
        }

        &:hover {
          background-color: #111;
          color: #fff;
          border-color: #111;
        }
      }
    }
  }

  .current-menu-item {
    a {
      border-color: @td_theme_color;
      background-color: @td_theme_color;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }
}

.td-tab-blocks-custom {

  ul.wpb_tabs_nav {
    border-bottom: 0;
  }

  .wpb_text_column {
    margin-bottom: 21px;
  }

  &.wpb_tabs li.ui-tabs-active a,
  &.wpb_tabs li:hover a {
    border: 1px solid #111 !important;
    background-color: #111;
  }

  ul.wpb_tabs_nav {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    li {
      display: inline-block;
      margin-left: 0;
      margin-right: -1px !important;

      a {
        border: 1px solid #eaeaea !important;
        padding: 5px 13px !important;
        font-size: 13px;
        font-family: @font3;
        font-weight: 500;
        line-height: 15px;
        text-transform: none;
        margin: 0 3px;
        border-radius: 20px;

        /* responsive portrait phone */
        @media (max-width: @responsive_p_phone_max) {
          padding: 4px 7px 3px !important;
          line-height: 13px;
        }

        &:hover {
          background-color: #111;
          color: #fff;
          border-color: #111;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}






/*  ----------------------------------------------------------------------------
    individual blocks
*/
/*  ----------------------------------------------------------------------------
    block title alignment
*/
.td_block_1,
.td_block_2,
.td_block_3,
.td_block_4,
.td_block_5,
.td_block_6,
.td_block_7,
.td_block_8,
.td_block_9,
.td_block_10,
.td_block_11,
.td_block_12,
.td_block_16,
.td_top_authors,
.td_block_text_with_title,
.td_block_title {
  position: relative;
  padding-top: 20px;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    padding-top: 17px;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    padding-top: 17px;
  }

  .block-title {
    margin: 0 0 20px 20px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin: 0 0 17px 17px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin: 0 0 17px 10px;
    }
  }

  .td_block_inner {
    clear: right;
  }
}

.td_block_13,
.td_block_14 {
  position: relative;
  clear: both;

  .block-title {
    margin: 0 0 21px 20px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin: 0 0 17px 17px;
    }
  }

  .td_block_inner {
    clear: right;
  }
}

// fix block z-index for shortcode background
.td-fix-index {
  .transform(translateZ(0));
}

/*  ----------------------------------------------------------------------------
    block 1
*/
// fix 1 column spacing
.td-pb-span4 {
  .td_block_1 {
    .td_module_4 {
      padding-bottom: 6px;
    }
  }
}

.td_block_1 {
  .td_module_4 {
    margin-bottom: 0;
  }
}



/*  ----------------------------------------------------------------------------
    block 2
*/
.td_block_2 {
  .td_module_4 {
    margin-bottom: 21px !important;
  }
}


/*  ----------------------------------------------------------------------------
    block 3
*/
.td_block_3 {
  .td-block-row:last-child {
    .td_module_1 {
      padding-bottom: 11px;
    }
  }

  .td-block-span12:last-child {
    .td_module_1 {
      padding-bottom: 11px;
    }
  }
}


/*  ----------------------------------------------------------------------------
    block 4
*/
.td_block_4 {
  .td-block-row:last-child {
    .td_module_2 {
      padding-bottom: 11px;
    }
  }

  .td-block-span12:last-child {
    .td_module_2 {
      padding-bottom: 11px;
    }
  }
}


/*  ----------------------------------------------------------------------------
    block 5
*/
.td_block_5 {
  .td-block-row:last-child {
    .td_module_3 {
      padding-bottom: 11px;
    }
  }

  .td-block-span12:last-child {
    .td_module_3 {
      padding-bottom: 11px;
    }
  }
}


/*  ----------------------------------------------------------------------------
    block 6
*/
.td_block_6 {
  .td-block-span12:last-child {
    .td_module_5 {
      border-bottom: none;
      padding-bottom: 2px;
    }
  }
}


/*  ----------------------------------------------------------------------------
    block 9
*/
.td_block_9 {
  .td_block_inner .td-block-row:last-child,
  .td_block_inner .td-block-span12:last-child {
    .item-details {
      border-bottom: 0;
      padding-bottom: 12px;
      margin-bottom: 0;
    }
  }
}

/*  ----------------------------------------------------------------------------
    block 10
*/
.td_block_10 {
  text-align: center;

  .block-title {
    margin-left: 10px;
    margin-right: 10px;
  }

  .td_block_inner {
    padding-left: 20px;
    padding-right: 19px;
  }

  .td_module_9:last-child {
    .item-details {
      border-bottom: none;
      padding-bottom: 4px;
      margin-bottom: 0;
    }
  }

  .td_module_9 .item-details {
    margin-bottom: 23px;

    /* responsive portrait tablet */
    @media (max-width: @responsive_p_tablet_max) {
      margin-bottom: 15px;
    }
  }

  .td-wrapper-pulldown-filter {
    position: absolute;
    right: 0;
  }

  .td-next-prev-wrap {
    margin: 0;
  }

  /* hide the filter category name on mobile */
  .td-pulldown-filter-display-option {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding: 0 4px 0 0;
    }

    span {
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        display: none;
      }
    }

    i {
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding-left: 5px;
      }
    }
  }
}
.wpb_column.td-pb-span12 {
  .td_block_10 {
    .entry-title {
      font-size: 22px;
      line-height: 28px;
    }
  }
}


/*  ----------------------------------------------------------------------------
    block 11
*/
.td_block_11 {
  .td-block-span12:last-child {
    .item-details,
    .td-module-thumb {
      margin-bottom: 20px;
    }
  }

  .td_module_10 {
    padding-left: 0;
    padding-right: 0;
  }
}

// fix block on 1 column
.td_block_11 .td-column-1 {
  .entry-thumb {
    width: 80px;
    margin-bottom: 0;
    min-height: 0;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
    }
  }

  .td-module-thumb {
    width: auto;
    margin-bottom: 12px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 40%;
      margin-bottom: 26px;
    }
  }


  .td-module-title {
    padding-left: 95px;
    font-size: 15px !important;
    line-height: 19px !important;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      font-size: 14px !important;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      font-size: 16px !important;
      line-height: 20px !important;
      padding-left: 0;
    }
  }

  .meta-info {
    clear: both;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      clear: none;
    }
  }

  .td-video-play-ico img {
    width: 24px;
  }

  .item-details {
    margin-left: 0;
    margin-bottom: 30px;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-left: 44%;
      margin-bottom: 26px;
      min-height: 0;
    }
  }
}


/*  ----------------------------------------------------------------------------
    block 12
*/
.td_block_12 {
  .td-block-span12:last-child {
    .item-details,
    .td-module-thumb {
      margin-bottom: 20px;
    }
  }

  .td_module_11 {
    padding-left: 0;
    padding-right: 0;
  }
}

// fix block on 1 column
.td_block_12 .td-column-1 {
  .entry-thumb {
    width: 80px;
    margin-bottom: 0;
    min-height: 0;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
    }
  }

  .td-read-more {
    display: none;
  }

  .td-module-thumb {
    width: auto;
    margin-bottom: 12px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 40%;
      margin-bottom: 26px;
    }
  }

  .td-module-title {
    padding-left: 95px;
    font-size: 15px !important;
    line-height: 19px !important;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      font-size: 14px !important;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      font-size: 16px !important;
      line-height: 20px !important;
      padding-left: 0;
    }
  }

  .meta-info {
    clear: both;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      clear: none;
    }
  }

  .td-video-play-ico img {
    width: 24px;
  }

  .item-details {
    margin-left: 0;
    margin-bottom: 20px;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-left: 44%;
      margin-bottom: 26px;
      min-height: 0;
    }
  }
}


/*  ----------------------------------------------------------------------------
    block 13
*/
.td_block_13 {
  border-top: 0 !important;

  .td-module-thumb {
    left: 0;
  }

  // title transparent background
  .block-title > a,
  .block-title > span {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .block-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    margin: 20px 0 0 20px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin: 17px 0 0 16px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin: 17px 0 0 10px;
    }
  }

  .td-wrapper-pulldown-filter {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 3;

    /* responsive portrait tablet */
    @media (max-width: @responsive_p_tablet_max) {
      top: 17px;
    }
  }

  .td-pulldown-filter-display-option {
    border: none;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;

    .td-icon-menu-down {
      color: #fff;
    }

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin-right: 19px !important;
    }
  }

  &:hover {
    color: @td_theme_color;
  }

  .td-pulldown-filter-list {
    border: none;
    background-color: rgba(0, 0, 0, 0.85);
    top: 10px;
    right: 0;

    a {
      color: #fff;

      &:hover {
        color: @td_theme_color;
      }
    }
  }

  .td_block_inner .td_module_14:last-child {
    .td-excerpt {
        padding-bottom: 20px;
    }
  }

  .meta-info {
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      padding: 12px 17px 10px 17px;
    }
  }

  .td-pulldown-filter-list-open .td-pulldown-filter-display-option {
    border-bottom: none;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    .td-next-prev-wrap {
      margin-bottom: 20px;
    }
  }
}

// fix on 1 column
.td_block_13 .td-column-1 {
  .meta-info {
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin: 0 19px 0 18px;
      padding: 12px 17px 10px 17px;
      min-width: 216px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      border-bottom: 0;
    }
  }

  .td_module_mx3:last-child {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding-bottom: 8px;
    }
  }
}


/*  ----------------------------------------------------------------------------
    block 14
*/
.td_block_14 {
  //remove top border
  border-top: none;
  background-color: #fff;
  //overflow: hidden;

  .td_module_mx1 {
    left: -1px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
        left: 0;
    }
  }

  .td-block-row {
    background-color: @td_grid_border_color;
  }

  .block-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 21px 0 0 20px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin: 17px 0 0 16px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin: 17px 0 0 10px;
    }
  }

  // title transparent background
  .block-title > a,
  .block-title > span {
    background-color: rgba(0, 0, 0, 0.85);
  }

  .td-block-span4,
  .td-block-span6,
  div.td-block-span12 {
    padding-left: 0;
    padding-right: 0 !important; //overwrite the last child right more specific selector
  }

  .td-wrapper-pulldown-filter {
    position: absolute;
    right: 0;
    top: 21px;
    z-index: 2;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      top: 17px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      top: 17px;
    }
  }

  .td-pulldown-filter-display-option {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    line-height: 20px;
    z-index: 1;
  }

  .td-pulldown-filter-list {
    border: none;
    background-color: rgba(0, 0, 0, 0.85);
    top: 10px;
    right: 0;

    a {
      color: #ffffff;

      &:hover {
        color: @td_theme_color;
      }
    }
  }

  .td-next-prev-wrap {
    display: inline-block;
    bottom: -6px;
    position: absolute;
    right: 19px;
    z-index: 1;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      right: 17px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      right: 10px;
    }

    i {
      color: #ffffff;

      &:hover {
        color: @td_theme_color;
      }
    }
  }

  .td-icon-menu-down {
    color: #ffffff;
  }

  .td-pulldown-filter-list-open .td-pulldown-filter-display-option {
    border-bottom: none;
  }

  .td-block-span12:last-child {
    .td_module_mx1 {
      margin-bottom: -1px;
    }
  }
}

/*  ----------------------------------------------------------------------------
    block 15
*/

.td_block_15 {
  //remove top border
  border-top: none;

  // title transparent background
  .block-title > a,
  .block-title > span {
    background-color: rgba(0, 0, 0, 0.85);
  }

  // block title
  .block-title {
    margin: 21px 0 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin: 17px 0 0 16px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin: 17px 0 0 10px;
    }
  }

  .td-block-span4 {
    padding-left: 0;
    padding-right: 0 !important; //overwrite the last child right more specific selector
  }

  .td-block-span6 {
    padding-left: 0;
    padding-right: 0 !important;
  }


  div.td-block-span12 {
    padding-left: 0;
    padding-right: 0 !important;
  }

  .td-wrapper-pulldown-filter {
    position: absolute;
    right: 0;
    top: 21px;
    z-index: 3;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      top: 17px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      top: 17px;
    }
  }

  .td-pulldown-filter-display-option {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    line-height: 20px;

    i {
      color: inherit;
    }
  }

  .td-pulldown-filter-list {
    border: none;
    background-color: rgba(0, 0, 0, 0.85);
    top: 10px;
    right: 0;

    a {
      color: #ffffff;

      &:hover {
        color: @td_theme_color;
      }
    }
  }

  .td-pulldown-filter-list-open .td-pulldown-filter-display-option {
    border-bottom: none;
  }

  .td_block_inner {
    .td_module_mx1 {
      margin-bottom: 20px;
      border: 0;

      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        margin-bottom: 17px;
      }

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        margin-bottom: 0;
      }
    }
  }

  .td_module_mx1 {
    left: -1px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      left: 0;
    }
  }

  // 1 columns
  .td-block-span12 {
    .td_module_mx1 {

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        margin-bottom: 15px;
      }

      .td-block14-border {
        display: none;
      }
    }
  }

  // 2 columns
  .td-block-span6 {

    &:last-child {
      .td_module_mx1 {

        /* responsive portrait phone */
        @media (max-width: @responsive_p_phone_max) {
          margin-bottom: 15px;
        }
      }
    }

    .td_module_mx1 {
      .td-module-thumb {
        margin-bottom: 0;
      }

      //fix the gradient on last post
      &:last-child {
        .td-image-gradient:before {
          width: 341px;

          /* responsive portrait tablet */
          @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
            width: 253px;
          }

          /* responsive portrait phone */
          @media (max-width: @responsive_p_phone_max) {
            width: 100%;
          }
        }
      }
    }

    &:last-child {
      .td-block14-border {
        display: none;
      }
    }
  }

  // 3 columns
  .td-block-span4 {

    &:last-child {
      .td_module_mx1 {
        /* responsive portrait phone */
        @media (max-width: @responsive_p_phone_max) {
          margin-bottom: 15px;
        }
      }
    }

    .td_module_mx1 {
      .td-module-thumb {
        margin-bottom: 0;
      }

      //fix the gradient on last post
      &:last-child {
        .td-image-gradient:before {
          width: 341px;

          /* responsive portrait tablet */
          @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
            width: 253px;
          }

          /* responsive portrait phone */
          @media (max-width: @responsive_p_phone_max) {
            width: 100%;
          }
        }
      }
    }

    &:last-child {
      .td-block14-border {
        display: none;
      }
    }
  }
}


/*  ----------------------------------------------------------------------------
    block 16
*/
.td_block_16 {
  .td-block-row .td-block-span4 {
    width: auto;
    padding-right: 0;
  }

  .entry-title {
    margin: 0 0 3px 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      font-size: 12px !important;
      line-height: 15px !important;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      font-size: 17px !important;
      line-height: 21px !important;
    }
  }

  .td-module-thumb {
    margin-bottom: 5px;
  }


  // 1 columns
  .td-column-1 {
    margin: 0 10px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin: 0 8px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin: 0 !important;
    }

    .td_module_mx4 {
      padding-bottom: 20px;

      .meta-info {
        margin-bottom: 0;
      }

      // fix the image space on load
      .entry-thumb {
        /* responsive desktop */
        @media (min-width: 1024px) {
          min-height: 194px;
        }
        /* responsive portrait tablet */
        @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
          min-height: 142px;
        }
      }
    }

    .entry-title {
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        font-size: 13px !important;
        line-height: 16px !important;
      }
    }

    .td-block-span12 {
      width: 50% !important;
      padding-right: 10px;
      padding-left: 10px;
      float: left !important;

      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        padding-right: 8px;
        padding-left: 8px;
      }

      .entry-thumb {
        min-height: 0;
      }
    }
    .td-block-span12:nth-child(odd) {
      clear: both;
    }
  }

  // 2 columns
  .td-column-2 {
    .td_module_mx4 {
      width: 200px;
      margin-bottom: 20px;

      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        width: 145px;
      }

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        width: 100%;
      }

      // fix the image space on load
      .entry-thumb {
        /* responsive desktop */
        @media (min-width: 1024px) {
          min-height: 129px;
        }
        /* responsive portrait tablet */
        @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
          min-height: 94px;
        }
      }
    }
  }

  // 3 columns
  .td-column-3 {
    .td_module_mx4 {
      width: 180px;
      margin-bottom: 20px;

      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        width: 131px;
      }

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        width: 100%;
      }

      // fix the image space on load
      .entry-thumb {
        /* responsive desktop */
        @media (min-width: 1024px) {
          min-height: 116px;
        }
        /* responsive portrait tablet */
        @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
          min-height: 85px;
        }
      }
    }
  }
}



/*  ----------------------------------------------------------------------------
    td_block_related_posts
*/

/* related_posts_row */
.td-related-row {
  .mx-row-and-span(td-related-span);

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    padding-right: 10px;
  }
}


.td-related-span4 {
  width: 220px;
  padding-left: 20px;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    width: 162px;
    padding-left: 17px;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    width: 33.33%;
    padding-left: 10px;
  }
}

//full width related posts
.td-related-full-width .td-related-span4 {
  width: 200px;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    width: 147px;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    width: 20%;
    padding-left: 10px;
  }
}



/*  ----------------------------------------------------------------------------
    mega menu
*/

/* related_posts_row */
.td-mega-row {
  .mx-row-and-span(td-mega-sp);
}


.td-mega-span {
  width: 200px;
  padding-left: 20px;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    width: 147px;
  }
}


/*  ----------------------------------------------------------------------------
    Trending now
*/
.td_block_trending_now {
  padding: 14px 20px;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    padding: 14px 17px;
  }

  &.tdc-no-posts {
    padding: 0;
  }
}

.td-trending-style2 {
  background-color: #eaeaea;
  padding: 9px 20px;
  position: relative;
  right: 1px;
  z-index: 1;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    padding: 15px 17px;
  }

  i {
    background-color: #fff;
  }
}

.td-trending-now-wrapper {
  .transform(translate3d(0, 0, 0));
  overflow: hidden;
  position: relative;

  .td-next-prev-wrap {
    display: inline-block;
    position: absolute;
    top: 0;
    margin: 0;
    right: 0;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: none;
    }

    a {
      float: left;
      margin-bottom: 0;

      i {
        font-size: 8px;
        float: left;
        width: 19px;
        height: 19px;
        padding: 5px 6px 4px;
      }
    }
  }

  .td_ajax-prev-pagex {
    margin: 0 5px 0 0;
  }
}

// firefox fix
@-moz-document url-prefix() {
  .td-trending-now-wrapper .td-next-prev-wrap a i {
    padding: 4px 6px 5px;
  }
  .td_block_trending_now .td-trending-now-title {
    line-height: 18px;
    padding-bottom: 1px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      line-height: 16px;
    }
  }
}

// title
.td-trending-now-title {
  background-color: @td_theme_color;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-family: @font1;
  font-size: 10px;
  font-weight: 700;
  line-height: 19px;
  padding: 0 15px;
  position: relative;
  margin: 0 21px 0 0;
  text-transform: uppercase;
  float: left;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    font-size: 10px;
    line-height: 17px;
    display: table;
    margin: auto;
    float: none;
  }
}

.td-pb-span4 {
  .td-trending-now-display-area {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;

    .entry-title {
      text-align: center;
    }
  }

  .td-trending-now-post {
    width: 100%;
  }
}

// content
.td-trending-now-display-area {
  display: inline-block;
  width: 75%;
  position: relative;
  float: left;
  height: 19px;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    width: 100%;
    margin-top: 10px;
  }

  .entry-title {
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    margin: 0;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  a {
    color: #444;
  }
}

.td-trending-now-post {
  position: absolute;
  display: inline-block;
  opacity: 0;
  width: 100%;

  &:first-child {
    opacity: 1;
    z-index: 1;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
      width: 100%;
      text-align: center;
  }
}

/* overwrite the above rules*/
.td-pb-span8 {
  .td-trending-now-wrapper {
    .td-trending-now-display-area {
      width: 70%;

      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        width: 60%;
      }

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        width: 100%;
      }
    }
  }
}



/*  ----------------------------------------------------------------------------
    Widgets blocks fix
*/

.td_block_1.td_block_widget {
  .td_module_4 {
    margin-bottom: 0;
  }
}

.td_block_13.td_block_widget {
  .entry-thumb {
    width: 100%;
  }
}

.td_block_14.td_block_widget {
  margin-top: 20px;

  .td_module_mx1 {
    .td-module-thumb {
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        width: 252px;
      }

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        width: 100%;
        left: 0;
      }
    }

    .td-image-gradient:before {
      width: 341px;

      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        width: 252px;
      }

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        width: 100%;
        left: 0;
      }
    }
  }

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    margin-top: 17px;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-top: 17px;
  }

  .td-module-thumb {
    margin-bottom: 0;
  }
}

.td_block_15.td_block_widget {
  margin-top: 20px;

  .td_module_mx1 {
    .td-module-thumb {
      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        width: 252px;
      }

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        width: 100%;
        left: 0;
      }
    }

    .td-image-gradient:before {
      width: 341px;

      /* responsive portrait tablet */
      @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
        width: 252px;
      }

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        width: 100%;
        left: 0;
      }
    }
  }

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    margin-top: 17px;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-top: 17px;
  }

  .td-module-thumb {
    margin-bottom: 0;
  }
}


/*  ----------------------------------------------------------------------------
    Text with title
*/
.td_block_text_with_title {
  margin: 0 19px 0 20px;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    margin: 0 17px;
  }
  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin: 0 10px;
  }

  .td_mod_wrap {
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 21px;
  }
}


/*  ----------------------------------------------------------------------------
    Single image
*/
.td_block_single_image {
  a {
    position: relative;
    display: block;
  }

  &.td-no-img-custom-url {
    a {
      pointer-events: none;
      cursor: default;
    }
  }
}

.td-single-image-style-rounded {
  a {
    .border-radius(4px);
  }
}

.td-single-image-style-border,
.td-single-image-style-round-border,
.td-single-image-style-circle-border,
.td-single-image-style-outline,
.td-single-image-style-bordered-shadow,
.td-single-image-style-round-outline,
.td-single-image-style-round-border-shadow,
.td-single-image-style-circle-outline,
.td-single-image-style-circle-border-shadow {
  margin-bottom: 22px;
  background-color: #EBEBEB;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-bottom: 32px;
  }
}

.td-single-image-style-border,
.td-single-image-style-round-border,
.td-single-image-style-circle-border {
  padding: 6px;
}

.td-single-image-style-outline,
.td-single-image-style-bordered-shadow,
.td-single-image-style-round-outline,
.td-single-image-style-round-border-shadow,
.td-single-image-style-circle-outline,
.td-single-image-style-circle-border-shadow {
  padding: 1px;

  a {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:after {
      color: #fff;
      .box-shadow(inset 0px 0px 0px 6px);
    }

    &:before {
      color: #EBEBEB;
      .box-shadow(inset 0px 0px 0px 7px);
    }
  }
}

.td-single-image-style-shadow,
.td-single-image-style-bordered-shadow,
.td-single-image-style-round-border-shadow,
.td-single-image-style-circle-shadow,
.td-single-image-style-circle-border-shadow {
  a {
    .box-shadow(0 0 6px rgba(0,0,0,.1));
  }
}

.td-single-image-style-3d-shadow {
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 4px;
    height: 30%;
    .box-shadow(0 15px 10px rgba(0,0,0,0.6));
    z-index: 0;
  }

  &:before {
    left: 5px;
    right: 50%;
    .transform(skewY(-6deg));
    .transform-origin(0 0);
  }

  &:after {
    left: 50%;
    right: 5px;
    .transform(skewY(6deg));
    .transform-origin(100% 0);
  }

  a {
    z-index: 1;
  }
}

.td-single-image-style-round,
.td-single-image-style-round-border,
.td-single-image-style-round-outline,
.td-single-image-style-round-shadow,
.td-single-image-style-round-border-shadow,
.td-single-image-style-circle,
.td-single-image-style-circle-border,
.td-single-image-style-circle-outline,
.td-single-image-style-circle-shadow,
.td-single-image-style-circle-border-shadow {
  .border-radius(50%);

  a {
    .border-radius(50%);
  }
}

.td-single-image-style-round-outline,
.td-single-image-style-round-border-shadow,
.td-single-image-style-circle-outline,
.td-single-image-style-circle-border-shadow {
  a {
    &:before,
    &:after {
      .border-radius(50%);
    }
  }
}

.td-single-image-style-circle,
.td-single-image-style-circle-border,
.td-single-image-style-circle-outline,
.td-single-image-style-circle-shadow,
.td-single-image-style-circle-border-shadow {
  a {
    height: 0;
    padding-bottom: 100%;
  }
}


/*  ----------------------------------------------------------------------------
    Separators
*/
.td_block_separator {
  width: 100%;
  align-items: center;

  span {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    border-top: 1px solid #EBEBEB;
  }
}

.td_separator_align_left {
  span {
    margin-left: 0;
  }
}

.td_separator_align_right {
  span {
    margin-right: 0;
  }
}

.td_separator_dashed {
  span {
    border-top-style: dashed;
  }
}

.td_separator_dotted {
  span {
    border-top-style: dotted;
  }
}

.td_separator_double {
  span {
    height: 3px;
    border-bottom: 1px solid #EBEBEB;
  }
}

.td_separator_shadow {
  >span {
    position: relative;
    height: 20px;
    overflow: hidden;
    border: 0;
    color: #EBEBEB;

    >span {
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 13px;
      width: 98%;
      .border-radius(100%);
    }
  }
}


/*  ----------------------------------------------------------------------------
    Newsletter plugin
*/
.tds_newsletter1_block {
  padding: 30px 19px 38px 20px;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    padding-left: 17px;
    padding-right: 17px;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.tds_newsletter2_block {
  .tdn-info-wrap {
    padding: 0 19px 20px 20px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      padding-left: 17px;
      padding-right: 17px;
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
div {
  &.tds_newsletter3_block,
  &.tds_newsletter4_block,
  &.tds_newsletter5_block,
  &.tds_newsletter6_block {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
}
.tds_newsletter5_block {
  .tdn-icon-wrap {
    line-height: 1;
    text-align: center;
  }
}
.tds_newsletter7_block {
  border-top: 0;
}






/*  ----------------------------------------------------------------------------
    Predefined color styles. Taken straight from the css that was generated by the theme
*/

.td-block-color-style-1,
.td-block-color-style-2,
.td-block-color-style-3,
.td-block-color-style-4,
.td-block-color-style-5,
.td-block-color-style-6 {
  border-top: 0;

  .td-post-category:hover {
    background-color: #222222 !important;
    opacity: 0.8;
  }

  .td-next-prev-wrap a:hover i {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #000000 !important;
  }

  // hover color default white for post title
  .td_module_wrap:hover .entry-title a {
    color: #ffffff !important;
  }
}

// hover color default white for pulldown filter text links
body {
  .td-block-color-style-1,
  .td-block-color-style-2,
  .td-block-color-style-3,
  .td-block-color-style-4,
  .td-block-color-style-5,
  .td-block-color-style-6 {
    .td-pulldown-filter-display-option:hover,
    .td-pulldown-filter-display-option .td-pulldown-filter-link:hover {
      color: #ffffff !important;
    }
  }
}



/* style 1 red */
body .td-block-color-style-1,
.td-block-color-style-1.td_block_13 .meta-info {
  background-color: #d13030;
}

body .td-block-color-style-1 .td-pulldown-filter-display-option,
body .td-block-color-style-1 .td-pulldown-filter-list {
  background-color: #d23434;
  background-color: rgba(210, 52, 52, 0.95);
}

body .td-block-color-style-1 .td-pulldown-filter-display-option,
body .td-block-color-style-1 .td-pulldown-filter-list {
  border-color: #db5858;
}

body .td-block-color-style-1 .td-pulldown-filter-display-option,
body .td-block-color-style-1 .td-icon-menu-down,
body .td-block-color-style-1 .td-pulldown-filter-link {
  color: #ffcfcf;
}

body .td-block-color-style-1 .td-module-title a,
body .td-block-color-style-1 i {
  color: #ffffff;
}

body .td-block-color-style-1 .td-excerpt {
  color: #ffe3e3;
}

body .td-block-color-style-1 .td-post-author-name a,
body .td-block-color-style-1 .td-post-author-name span {
  color: #ffe3e3;
}

body .td-block-color-style-1 .td-module-date {
  color: #ffe3e3;
}

body .td-block-color-style-1 .td-module-comments{
  background-color: #c12424;
}

body .td-block-color-style-1 .td-module-comments a:after{
  border-color: #862e2d transparent transparent transparent;
}

body .td-block-color-style-1 .td-module-comments a {
  color: #ffffff;
}

body .td-block-color-style-1 .item-details,
body .td-block-color-style-1 .td_module_5 {
  border-bottom-color: #da6767;
}

body .td-block-color-style-1 .td-icon-font,
body .td-block-color-style-1 .td_ajax_load_more {
  border-color: #ffffff;
  color: #ffffff !important;
}



/* style 2 black */
body .td-block-color-style-2,
.td-block-color-style-2.td_block_13 .meta-info {
  background-color: #1c1c1c;
}

body .td-block-color-style-2 .td-pulldown-filter-display-option,
body .td-block-color-style-2 .td-pulldown-filter-list {
  background-color: #1e1e1e;
  background-color: rgba(30, 30, 30, 0.95);
}

body .td-block-color-style-2 .td-pulldown-filter-display-option,
body .td-block-color-style-2 .td-pulldown-filter-list {
  border-color: #424242;
}

body .td-block-color-style-2 .td-pulldown-filter-display-option,
body .td-block-color-style-2 .td-icon-menu-down,
body .td-block-color-style-2 .td-pulldown-filter-link {
  color: #c4c4c4;
}

body .td-block-color-style-2 .td-module-title a,
body .td-block-color-style-2 i {
  color: #ffffff;
}

body .td-block-color-style-2 .td-excerpt {
  color: #c4c4c4;
}

body .td-block-color-style-2 .td-post-author-name a,
body .td-block-color-style-2 .td-post-author-name span {
  color: #e2e2e2;
}

body .td-block-color-style-2 .td-module-date {
  color: #c4c4c4;
}

body .td-block-color-style-2 .td-module-comments{
  background-color: #4db2ec;
}

body .td-block-color-style-2 .td-module-comments a:after{
  border-color: #2d6586 transparent transparent transparent;
}

body .td-block-color-style-2 .td-module-comments a {
  color: #ffffff;
}

body .td-block-color-style-2 .item-details,
body .td-block-color-style-2 .td_module_5 {
  border-bottom-color: #3a3a3a;
}

body .td-block-color-style-2 .td-icon-font,
body .td-block-color-style-2 .td_ajax_load_more {
  border-color: #ffffff;
  color: #ffffff !important;
}




/* style 3 orange */
body .td-block-color-style-3,
.td-block-color-style-3.td_block_13 .meta-info {
  background-color: #e67e22;
}

body .td-block-color-style-3 .td-pulldown-filter-display-option,
body .td-block-color-style-3 .td-pulldown-filter-list {
  background-color: #e67e22;
  background-color: rgba(230, 126, 34, 0.95);
}

body .td-block-color-style-3 .td-pulldown-filter-display-option,
body .td-block-color-style-3 .td-pulldown-filter-list {
  border-color: #f09748;
}

body .td-block-color-style-3 .td-pulldown-filter-display-option,
body .td-block-color-style-3 .td-icon-menu-down,
body .td-block-color-style-3 .td-pulldown-filter-link {
  color: #ffead7;
}

body .td-block-color-style-3 .td-module-title a,
body .td-block-color-style-3 i {
  color: #ffffff;
}

body .td-block-color-style-3 .td-excerpt {
  color: #ffead7;
}

body .td-block-color-style-3 .td-post-author-name a,
body .td-block-color-style-3 .td-post-author-name span {
  color: #ffead7;
}

body .td-block-color-style-3 .td-module-date {
  color: #ffead7;
}

body .td-block-color-style-3 .td-module-comments {
  background-color: #d35400;
}

body .td-block-color-style-3 .td-module-comments a:after{
  border-color: #7f3300 transparent transparent transparent;
}

body .td-block-color-style-3 .td-module-comments a {
  color: #ffffff;
}

body .td-block-color-style-3 .item-details,
body .td-block-color-style-3 .td_module_5 {
  border-bottom-color: #f09748;
}

body .td-block-color-style-3 .td-icon-font,
body .td-block-color-style-3 .td_ajax_load_more {
  border-color: #ffffff;
  color: #ffffff !important;
}



/* style 4 yellow */
body .td-block-color-style-4,
.td-block-color-style-4.td_block_13 .meta-info {
  background-color: #f8c900;
}

body .td-block-color-style-4 .td-pulldown-filter-display-option,
body .td-block-color-style-4 .td-pulldown-filter-list {
  background-color: #f8c900;
  background-color: rgba(248, 201, 0, 0.95);
}

body .td-block-color-style-4 .td-pulldown-filter-display-option,
body .td-block-color-style-4 .td-pulldown-filter-list {
  border-color: #f7de73;
}

body .td-block-color-style-4 .td-pulldown-filter-display-option,
body .td-block-color-style-4 .td-icon-menu-down,
body .td-block-color-style-4 .td-pulldown-filter-link {
  color: #fff8d9;
}

body .td-block-color-style-4 .td-module-title a,
body .td-block-color-style-4 i {
  color: #ffffff;
}

body .td-block-color-style-4 .td-excerpt {
  color: #fff8d9;
}

body .td-block-color-style-4 .td-post-author-name a,
body .td-block-color-style-4 .td-post-author-name span {
  color: #fff8d9;
}

body .td-block-color-style-4 .td-module-date {
  color: #fff8d9;
}

body .td-block-color-style-4 .td-module-comments {
  background-color: #ecb200;
}

body .td-block-color-style-4 .td-module-comments a:after{
  border-color: #af8400 transparent transparent transparent;
}

body .td-block-color-style-4 .td-module-comments a {
  color: #ffffff;
}

body .td-block-color-style-4 .item-details,
body .td-block-color-style-4 .td_module_5 {
  border-bottom-color: #f7de73;
}

body .td-block-color-style-4 .td-icon-font,
body .td-block-color-style-4 .td_ajax_load_more {
  border-color: #fff8d9;
  color: #fff8d9 !important;
}



/* style 5 - green */
body .td-block-color-style-5,
.td-block-color-style-5.td_block_13 .meta-info {
  background-color: #0a9e01;
}

body .td-block-color-style-5 .td-pulldown-filter-display-option,
body .td-block-color-style-5 .td-pulldown-filter-list {
  background-color: #0a9e01;
  background-color: rgba(10, 158, 1, 0.95);
}

body .td-block-color-style-5 .td-pulldown-filter-display-option,
body .td-block-color-style-5 .td-pulldown-filter-list {
  border-color: #42aa3c;
}

body .td-block-color-style-5 .td-pulldown-filter-display-option,
body .td-block-color-style-5 .td-icon-menu-down,
body .td-block-color-style-5 .td-pulldown-filter-link {
  color: #deffdc;
}

body .td-block-color-style-5 .td-module-title a,
body .td-block-color-style-5 i {
  color: #ffffff;
}

body .td-block-color-style-5 .td-excerpt {
  color: #deffdc;
}

body .td-block-color-style-5 .td-post-author-name a,
body .td-block-color-style-5 .td-post-author-name span {
  color: #deffdc;
}

body .td-block-color-style-5 .td-module-date {
  color: #deffdc;
}

body .td-block-color-style-5 .td-module-comments {
  background-color: #208e01;
}

body .td-block-color-style-5 .td-module-comments a:after{
  border-color: #135800 transparent transparent transparent;
}

body .td-block-color-style-5 .td-module-comments a {
  color: #ffffff;
}

body .td-block-color-style-5 .item-details,
body .td-block-color-style-5 .td_module_5 {
  border-bottom-color: #42aa3c;
}

body .td-block-color-style-5 .td-icon-font,
body .td-block-color-style-5 .td_ajax_load_more {
  border-color: #deffdc;
  color: #deffdc !important;
}



/* style 6 pink */
body .td-block-color-style-6,
.td-block-color-style-6.td_block_13 .meta-info {
  background-color: #ff0099;
}

body .td-block-color-style-6 .td-pulldown-filter-display-option,
body .td-block-color-style-6 .td-pulldown-filter-list {
  background-color: #ff0099;
  background-color: rgba(255, 0, 153, 0.85);
}

body .td-block-color-style-6 .td-pulldown-filter-display-option,
body .td-block-color-style-6 .td-pulldown-filter-list {
  border-color: #ff5bbd;
}

body .td-block-color-style-6 .td-pulldown-filter-display-option,
body .td-block-color-style-6 .td-icon-menu-down,
body .td-block-color-style-6 .td-pulldown-filter-link {
  color: #ffe8f6;
}

body .td-block-color-style-6 .td-module-title a,
body .td-block-color-style-6 i {
  color: #ffffff;
}

body .td-block-color-style-6 .td-excerpt {
  color: #ffe8f6;
}

body .td-block-color-style-6 .td-post-author-name a,
body .td-block-color-style-6 .td-post-author-name span {
  color: #ffe8f6;
}

body .td-block-color-style-6 .td-module-date {
  color: #ffe8f6;
}

body .td-block-color-style-6 .td-module-comments {
  background-color: #dd0085;
}

body .td-block-color-style-6 .td-module-comments a:after{
  border-color: #a00060 transparent transparent transparent;
}

body .td-block-color-style-6 .td-module-comments a {
  color: #ffffff;
}

body .td-block-color-style-6 .item-details,
body .td-block-color-style-6 .td_module_5 {
  border-bottom-color: #ff49b6;
}

body .td-block-color-style-6 .td-icon-font,
body .td-block-color-style-6 .td_ajax_load_more {
  border-color: #ffdef2;
  color: #ffdef2 !important;
}