@font-face {
    font-family: 'RR';
    src: url('../fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'RBC';
    src: url('../fonts/robotocondensedbold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/robotocondensedbold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/robotocondensedbold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/robotocondensedbold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/robotocondensedbold.svg#robotocondensedbold') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'RB';
    src: url('../fonts/Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'RR';
    src: url('../fonts/Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-weight: 700;
}
@font-face {
    font-family: 'CSB';
    src: url('../fonts/ConthraxSb-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ConthraxSb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ConthraxSb-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ConthraxSb-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ConthraxSb-Regular.svg#ConthraxSb-Regular') format('svg'); /* Legacy iOS */
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background: #fff;
    color: #333;
    font-family: 'RR', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3125;
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    color: #333;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
    color: #af0603 !important;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

mark {
    color: #000;
    background: #ff0;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

/*menu*/
.menu_header {
    float: left;
    z-index: 2;
    position: relative;
}

.menu_header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu_header > ul > li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    line-height: 84px;
    vertical-align: middle;
}

.menu_header > ul > li > a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    display: block;
    line-height: 30px;
    vertical-align: middle;
    padding: 0 6px;
    position: relative;
    font-family: 'RBC';
}
.header_nav {
    background-color: #206702;
}

.menu_header > ul > li.current-menu-item > a,
.menu_header > ul > li.current-menu-ancestor > a,
.menu_header > ul > li.current_page_item > a,
.menu_header > ul > li.current_page_ancestor > a,
.menu_header > ul > li:hover > a,
.menu_header > ul > li:focus > a {
    color: #fff;
}

/*.menu_header > ul > li.current-menu-item > a:before,
.menu_header > ul > li.current-menu-ancestor > a:before,
.menu_header > ul > li.current_page_item > a:before,
.menu_header > ul > li.current_page_ancestor > a:before,
.menu_header > ul > li:hover > a:before,
.menu_header > ul > li:focus > a:before {
  font-family: "FontAwesome";
  content: "\f067";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -16px;
  display: block;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}*/
.menu_header > ul > li ul {
    display: block;
    position: absolute;
    left: 0;
    top: 110%;
    z-index: 993;
    width: 230px;
    background-color: #FFF;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    border-top: 4px solid #2b96cc;
    padding: 0 15px;
}

.menu_header > ul > li ul li {
    position: relative;
    float: none;
    list-style: none;
}

.menu_header > ul > li ul.sub-menu li {
    margin: 0;
    padding: 0;
}

.menu_header > ul > li ul li a {
    line-height: 23px;
    display: block;
    padding: 12px 0;
    color: #626262;
    text-decoration: none;
}

.menu_header > ul > li ul li:hover > a,
.menu_header > ul > li ul li:focus > a {
    color: #2b96cc;
    text-decoration: none;
}

.menu_header > ul > li ul ul {
    top: 15px;
    left: -100%;
    left: calc(-100% - 3px);
}

.devvn_desktop .menu_header li:hover > ul,
.devvn_desktop .menu_header li:focus > ul,
.menu_header li.mobile_open_sub > ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.devvn_desktop .menu_header li:hover > ul ul,
.devvn_desktop .menu_header li:focus > ul ul,
.menu_header li.mobile_open_sub > ul ul {
    top: 0;
}

.menu_header > ul > li ul > li:hover > ul,
.menu_header > ul > li ul > li:focus > ul {
    top: -1px;
}

.click_opensub_menu {
    display: none;
}

.over_wrap, .button_menu {
    display: none;
}

/*#menu*/

/*tinymce*/
.tinymce p {
    margin-bottom: 18px !important;
    font-weight: normal;
}
.tinymce {
    text-align: justify;
    line-height: 28px !important;
    font-size: 17px !important;
    color: #222 !important;
}
.tinymce ul, .tinymce ol {
    padding-left: 30px;
}

blockquote {
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: #eaeaea #eaeaea #eaeaea #ED564B;
    margin-bottom: 20px;
    padding: 20px;
    font-style: italic;
    border-left: 3px solid #ae0000;
    font-size: inherit;
}

.tinymce h1 {
    font-size: 30px;
    line-height: 36px;
}

.tinymce h2 {
    font-size: 28px;
    line-height: 35px;
}

.tinymce h3 {
    font-size: 26px;
    line-height: 32px;
}

.tinymce h4 {
    font-size: 24px;
    line-height: 30px;
}

.tinymce h5 {
    font-size: 22px;
    line-height: 28px;
}

.tinymce h6 {
    font-size: 20px;
    line-height: 25px;
}

.tinymce pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    padding: 1.6em;
    overflow: auto;
    max-width: 100%;
}

.tinymce table {
    margin: 0 0 1.5em;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.tinymce caption, .tinymce th, .tinymce td {
    font-weight: normal;
    text-align: left;
}

.tinymce th, .tinymce td {
    border: 1px solid #eaeaea;
    padding: 6px 10px;
}

.tinymce th {
    font-weight: bold;
}

.tinymce a {
    color: #ae0000;
}

.tinymce a:hover {
    text-decoration: underline;
}

/*#tinymce*/
.transition {
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}

.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}

.wp-caption {
    margin-bottom: 1.6em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}

.wp-caption-text {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-size: 14px;
    line-height: 1.5;
    padding: 0.5em 0;
}

/*Gallery*/
.gallery {
    margin-bottom: 15px;
}

.gallery-item {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin: 0 0 10px 0;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
    clear: both;
}

.gallery-icon img {
    margin: 0 auto;
    width: 100%
}

.gallery-caption {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

@media (max-width: 767px) {
    .gallery-columns-4 .gallery-item,
    .gallery-columns-5 .gallery-item,
    .gallery-columns-6 .gallery-item,
    .gallery-columns-7 .gallery-item,
    .gallery-columns-8 .gallery-item,
    .gallery-columns-9 .gallery-item {
        max-width: 33.33%;
    }

    .gallery-columns-1 .gallery-item,
    .gallery-columns-2 .gallery-item:nth-child(2n+1),
    .gallery-columns-3 .gallery-item:nth-child(3n+1),
    .gallery-columns-4 .gallery-item:nth-child(4n+1),
    .gallery-columns-5 .gallery-item:nth-child(5n+1),
    .gallery-columns-6 .gallery-item:nth-child(6n+1),
    .gallery-columns-7 .gallery-item:nth-child(7n+1),
    .gallery-columns-8 .gallery-item:nth-child(8n+1),
    .gallery-columns-9 .gallery-item:nth-child(9n+1) {
        clear: none;
    }

    .gallery-columns-1 .gallery-item,
    .gallery-columns-2 .gallery-item:nth-child(2n+1),
    .gallery-columns-3 .gallery-item:nth-child(3n+1),
    .gallery-columns-4 .gallery-item:nth-child(3n+1),
    .gallery-columns-5 .gallery-item:nth-child(3n+1),
    .gallery-columns-6 .gallery-item:nth-child(3n+1),
    .gallery-columns-7 .gallery-item:nth-child(3n+1),
    .gallery-columns-8 .gallery-item:nth-child(3n+1),
    .gallery-columns-9 .gallery-item:nth-child(3n+1) {
        clear: both;
    }
}

/*End gallery*/
#wp-calendar {
    width: 100%;
}

table {
    background-color: transparent;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

th {
    text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 2px solid #ddd;
}

.table .table {
    background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #dff0d8;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background-color: #d9edf7;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background-color: #f2dede;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }

    .table-responsive > .table {
        margin-bottom: 0;
    }

    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }

    .table-responsive > .table-bordered {
        border: 0;
    }

    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }

    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }

    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.paginate_links {
    text-align: left;
    color: #FF9B00;
    border-top: 1px solid #ccc;
    margin: 30px 0;
    padding-top: 20px;
}

.paginate_links .page-numbers {
    padding: 6px 12px;
    margin: 0 2px 5px 0;
    text-align: center;
    background: #f1f1f1;
    color: #333;
    text-decoration: none;
    display: inline-block;
}

.paginate_links .current,
.paginate_links .page-numbers:hover {
    background: #af0603;
    color: #fff !important;
}

.header_top_left {
    float: left;
    padding: 7px 0;
}
.header_top_right {
    float: right;
    padding: 7px 0;
}
.header_top {
    background-color: #f1f1f1;
    font-size: 13px;
}
.header_top p {
    margin: 0;
    padding: 0;
}
.header_top ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header_top_left > div {
    float: left;
}
.header_top_left div ~ div {
    padding-left: 30px;
}
.header_tl_date:before {
    content: "\f073";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin: 1px 5px 0 0;
}
.menu_header_tl, .menu_header_tl a {
    font: 13px 'RB';
    color: #206702;
    text-decoration: none;
}
.header_top ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_top ul li ~ li{
    margin-left: 15px;
}
.header_top ul li a strong {
    color: #af0603;
}
.header_top_right >div, .header_top_right > ul {
    float: left;
}
.header_top_right > div ~ div, .header_top_right > ul ~ ul {
    margin-left: 30px;
}
.header_top ul.social_list {
    margin-right: 30px;
    margin-top: -8px;
    position: relative;
    top: 4px;
}
ul.social_list li a {
    width: 25px;
    height: 25px;
    border: 1px solid #c5c5c5;
    border-radius: 50%;
    position: relative;
    display: block;
    text-align: center;
    color: #666;
    line-height: 24px;
}
.logo {
    float: left;
    padding: 15px 0;
    width: 28%;
}
.header_banner {
    float: right;
    padding: 15px 0;
}
.header_banner img {
    display: block;
}
div#toolbar {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
}
.right {
    float: right;
    overflow: hidden;
}
.left {
    float: left;
    overflow: hidden;
}
.tin24h {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    background: #f1f1f1 url(../images/24h.png) no-repeat center;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
    text-indent: -99999px;
}
#toolbar .search {
    overflow: hidden;
    float: left;
    background-color: #f1f1f1;
    border-radius: 3px;
}
.search_form_wrap input {
    width: 180px;
    padding: 0 10px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    float: left;
}
button#searchsubmit {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    color: #666666;
    background: transparent;
    border: 0;
    overflow: hidden;
    outline: none;
}
footer.footer {
    border-top: 1px solid #ccc;
}
.footer_menu .left {
    width: 78%;
}
.footer_menu .right {
    width: 22%;
}
.footer_menu {
    padding: 35px 0 20px 0;
}
h3.title-sidebar {
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'RB';
    line-height: 23px;
}
ul#menu-footer-menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul#menu-footer-menu li {
    width: 25%;
    float: left;
    margin: 0 0 15px 0;
    list-style: none;
    padding: 0 15px 0 0;
}
ul#menu-footer-menu li a {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'RB';
    line-height: 23px;
    display: inline-block;
}
.footer_menu ul.social_list li a {
    border: 1px solid #3a5998;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: #3a5998;
    color: #fff;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    margin: 0 5px 5px 0;
    float: left;
}
ul.social_list li {
    float: left;
}
.footer_menu ul.social_list li.twitter_social a {
    background: #4a90e2;
    border-color: #4a90e2;
}
.footer_menu ul.social_list li.youtube_social a {
    background: #ff0000;
    border-color: #ff0000;
}
.footer_menu ul.social_list li.google_plus_social a {
    background: #ed1b2f;
    border-color: #ed1b2f;
}
.footer_infor {
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    padding: 20px 0 15px 0;
    font-size: 12px;
    line-height: 18px;
}
.footer_infor h3 {
    font-family: 'RB';
    color: #206702;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 2px;
    font-size: 12px;
}
.footer_infor_logo {
    width: 155px;
    height: 43px;
    float: left;
    margin-right: 30px;
}
.footer_infor_text {
    width: calc(50% - 100px);
    width: -moz-calc(50% - 100px);
    width: -webkit-calc(50% - 100px);
    float: left;
}
.footer_infor_contact {
    width: calc(50% - 100px);
    width: -moz-calc(50% - 100px);
    width: -webkit-calc(50% - 100px);
    float: right;
    text-align: right;
}
.footer_infor a {
    color: #af0603;
    text-decoration: none;
    font-family: 'RB';
}
.main_container_sidebar,
.main_container_full{
    width: 71.578%;
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    margin: 0 0 12px;
}
.main_container_full{
    width: 100%;
}
.sidebar_container{
    width: 28.422%;
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    margin: 0 0 12px;
}
.img_respon{
    position: relative;
    overflow: hidden;
    padding-top: 56.32%;
    height: auto;
    background-position: 50% 50%;
    background-size: cover;
}
.img_respon img{
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}
.news_box_title {
    font-weight: 700;
    line-height: 19px;
    margin: 0 0 10px;
}
.news_box_img {
    margin: 0 0 10px;
}
.nlt_left {
    width: 73.077%;
    float: left;
    margin-bottom: 15px;
}
.nlt_right {
    width: 24.359%;
    float: right;
    height: calc(100% - 15px);
    height: -moz-calc(100% - 15px);
    height: -webkit-calc(100% - 15px);
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
.news_latest_top {
    overflow: hidden;
    position: relative;
}
.nlt_left .news_box_title {
    display: block;
    font: 24px 'RB';
    line-height: 30px;
    text-decoration: none;
}
.news_box_desc {
    line-height: 22px;
    overflow: hidden;
    text-align: justify;
}
.news_latest_top:before {
    content: "";
    display: block;
    width: 1px;
    height: calc(100% - 15px);
    height: -moz-calc(100% - 15px);
    height: -webkit-calc(100% - 15px);
    position: absolute;
    top: 0;
    left: 74.28%;
    background-color: #ccc;
}
.news_latest_bottom {
    padding-top: 15px;
    border-top: 1px solid #ccc;
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
    background: transparent;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}
.scrollbar-inner > .scroll-element .scroll-bar {
    background-color: #aaa;
    opacity: 0.8;
}
.scrollbar-inner > .scroll-element.scroll-y {
    opacity: 0;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}
.scroll-wrapper.scrollbar-inner:hover > .scroll-element.scroll-y {
    opacity: 1;
}
.scrollbar-inner > .scroll-element:hover .scroll-element_track {
    background: #eee;
    opacity: 0.5;
}
.nlt_right .news_box:not(:nth-child(1)) .news_box_img {
    display: none;
}
.nlt_right .news_box:not(:nth-child(1)) {
    border-top: 1px dashed #ccc;
    padding-top: 10px;
}
.news_latest_bottom > div >div:nth-child(4n+1) {
    clear: both;
}
.main_container_sidebar {
    border-right: 1px solid #ccc;
}
.section_oneimage {
    margin: 0 0 12px;
}
.section_oneimage {
    text-align: center;
}
.section_oneimage img{
    display: inline-block;
}
.videos_home_section {
    padding: 30px 0 10px;
    margin: 0 0 10px 0;
    color: #fff;
}
.videos_big_left {
    width: 30%;
    float: left;
    padding: 10px 15px 10px 10px;
}
.videos_big_left h2,
h2.h2_style{
    display: block;
    font: 22px 'RB';
    margin: 10px 0 20px 0;
}
.videos_big_left h2 a,
h2.h2_style a{
    text-shadow: 1px 1px 0px #fff;
    color: #be0102;
    text-decoration: none;
}
.news_box.videos_big {
    background: rgba(0,0,0,0.2);
    margin: 0 0 20px 0;
    overflow: hidden;
}
.videos_home_section .news_box_title a {
    display: block;
    color: white;
    text-decoration: none;
    font: 29px 'RB';
    margin-bottom: 30px;
    line-height: 38px;
}
.videos_home_section a {
    color: #fff;
}
.videos_home_section .news_img_title a:hover{
    color: #fff !important;
}
.news_box.videos_big .img_respon {
    padding-top: 56.25%;
}
.videos_big_right {
    width: 70%;
    float: left;
    position: relative;
}
.videos_big_right:before {
    font-family: "FontAwesome";
    content: "\f04b";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    color: #fff;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    border: 3px solid #fff;
    z-index: 9;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    font-size: 30px;
    text-align: center;
    line-height: 58px;
    pointer-events: none;
    padding-left: 7px;
}
.videos_big_right:hover:before {
    background: rgba(189, 189, 189, 0.73);
}
.box_news_2col_list .news_box_title {
    display: block;
    font: 15px 'RB';
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 21px;
}
.box_news_2col_list .news_box:not(:nth-child(1)) .news_box_desc {
    display: none;
}
.box_news_2col_small .box_news_2col_list .news_box:not(:nth-child(1)) .news_box_img {
    display: none;
}
.box_news_2col_small .box_news_2col_list .news_box ~ .news_box {
    border-top: 1px dashed #ccc;
    padding-top: 10px;
}
.box_news_2col_list .news_box:nth-child(1) .news_box_title {
    font-size: 18px;
    line-height: 25px;
}
.title_box_news span {
    display: inline-block;
    font: 22px 'RB';
    color: #af0603;
    text-decoration: none;
    padding-left: 10px;
    border-left: 2px solid #af0603;
    line-height: 28px;
    text-transform: initial;
}
h2.title_box_news {
    font-size: 22px;
    margin: 0 0 20px;
}
.news_category_2col {
    padding: 20px 0 10px;
}

.news_box.news_img_title_styl01 .news_box_img {
    width: 138px;
    float: left;
    margin: 0 10px 10px 0;
}
.news_title_desc {
    overflow: hidden;
}
.box_news_2col_list .news_box.news_img_title_styl01 {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.box_news_2col_large .box_news_2col_list {
    margin-left: -10px;
    margin-right: -10px;
}
.box_news_2col_large .news_img_title_styl01:nth-child(1) .news_box_img {
    width: 62%;
    float: right;
    margin: 0 0 10px 0;
}
.box_news_2col_large .news_img_title_styl01:nth-child(1) .news_title_desc {
    width: 36%;
    float: left;
    text-align: justify;
    margin: 0 0 10px;
}
.news_img_title_styl01 {
    overflow: hidden;
    margin: 0 0 10px 0;
}
.box_news_2col_list .news_box.news_img_title_styl01:nth-child(1) {
    width: 100%;
}
.box_news_2col_large .box_news_2col_list .news_box:nth-child(1) .news_box_title {
    font: 20px 'RB';
    line-height: 26px;
}
.has_border {
    position: relative;
}
.has_border:before {
    position: absolute;
    top: 0;
    left: 33.33333333%;
    height: 100%;
    content: "";
    background: #ccc;
    width: 1px;
}
.small_right .has_border:before {
    left: 66.66666667%;
}
.has_border:after {
    content: "";
    clear: both;
    display: table;
}
.border_bottom {
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}
.news_home_3col > .container > .row > .col-sm-4 ~ .col-sm-4:before {
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    content: "";
}
.news_slider.style1 {
    overflow: hidden;
    background-color: #206702;
    padding: 40px 0;
    margin-bottom: 40px;
    color: #fff;
}
.news_slider_style2_left {
    width: 70%;
    float: left;
    padding: 0 10px;
}
.news_slider_style2_right {
    width: 30%;
    float: left;
    padding: 0 10px;
}
.news_slider_style2 {
    margin: 0 -10px;
}
.news_slider_style2:after {
    content: "";
    display: table;
    clear: both;
}
.ns_style2_left_infor h2 {
    text-transform: uppercase;
}
.ns_style2_left_infor {
    width: 38%;
    float: left;
}
.ns_style2_left_img {
    width: 62%;
    float: left;
    padding-left: 20px;
}
.ns_style2_left_infor .news_box_title a {
    font: 24px 'RB';
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
.ns_style2_box .news_box_img {
    width: 135px;
    float: left;
    margin: 0 10px 10px 0;
}
.ns_style2_box .news_box_title {
    overflow: hidden;
}
.ns_style2_box .news_box_title {
    overflow: hidden;
}
.news_box.news_img_title:after {
    content: "";
    display: table;
    clear: both;
}
.news_slider.style1 .ns_style2_box a {
    color: #fff;
}
.ns_style2_box {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc !important;
}
.news_slider.style1 button.slick-arrow {
    display: none !important;
}
.firstLoad{
    display: none;
}
.news_slider_style1_right {
    background-color: #f1f1f1;
    border-top: 2px solid #206702;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
h2.h2_style2 {
    padding-left: 0;
    border-left: none;
    font: 22px'RB';
    height: auto;
    line-height: 26px;
    display: block;
    padding: 8px 69px 10px 10px;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 1px white;
    margin-bottom: 10px;
}
h2.h2_style2 a{
    color: #af0603;
}
.ns_style1_box {
    padding: 0 10px;
}
.news_slider_style1_right button.slick-arrow {
    position: absolute;
    top: -40px;
    right: 10px;
    width: 22px;
    height: 22px;
    padding: 0;
    border: none;
    cursor: pointer;
    background: url(../images/next.png) no-repeat center;
    outline: none;
    text-indent: -9999px;
    overflow: hidden;
}
.news_slider_style1_right button.slick-arrow.slick-prev {
    right: 40px;
    background: url(../images/prev.png) no-repeat center;
}
h3.title-home-sidebar {
    background-color: #f1f1f1;
    border-top: 2px solid #206702;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 1px white;
    font: 16px 'RB';
    color: #af0603;
    text-transform: uppercase;
}
.home-widget > ul {
    background: #f1f1f1;
    padding: 10px;
    list-style: none;
    margin: 0;
}
.home-widget > ul > li {
    display: block;
    text-decoration: none;
    color: #333;
    font-family: 'RB';
    line-height: 20px;
    position: relative;
    padding: 10px 0;
    list-style: none;
}
.home-widget > ul > li ~ li{
    border-top: 1px dashed #ccc;
}
.widget_most_viewed_entries > ul > li {
    padding-left: 35px;
    position: relative;
}
.widget_most_viewed_entries > ul{
    counter-reset: section;
    list-style-type: none;
}
.widget_most_viewed_entries > ul > li a:before {
    font-size: 24px;
    color: #af0603;
    position: absolute;
    top: 13px;
    left: 0;
    counter-increment: section;
    content: counters(section, ".") " ";
}
.home-widget.widget_media_image img {
    display: block;
}
.home-widget{
    margin-bottom: 10px;
}
div#toolbar .left {
    width: calc(100% - 300px);
}
.title_archive,
div#toolbar .left a{
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    font-family: 'RB';
    float: left;
    line-height: 24px;
    text-decoration: none;
    color: #333;
    margin: 0;
}
.title_archive:after,
#toolbar .left a:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #af0603;
    position: absolute;
    left: 0;
    bottom: 0;
}
#toolbar .right{
    padding: 10px 0;
}
#toolbar .left .title_archive,
#toolbar .left a{
    padding: 14px 0 12px;
}
.news_box_date {
    font-size: 12px;
    color: #9b9b9b;
    margin-bottom: 10px;
}
.archive_list_posts .news_box_title {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 5px 0;
    text-align: justify;
}
@media (min-width: 768px) {
    .archive_list_posts .news_box.news_img_title_styl01 .news_box_img {
        width: 200px;
    }
}
.archive .archive_list_posts .news_box_date {
    display: none;
}
.archive_posts_feature .news_box:nth-child(1) .news_title_desc {
    width: 30.4%;
    float: left;
}
.archive_posts_feature .news_box:nth-child(1) .news_box_img {
    width: 67%;
    float: right;
    margin: 0 0 10px 0;
}
.archive_posts_feature {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-left: -6px;
    margin-right: -6px;
}
.archive_posts_feature .news_box:not(:nth-child(1)) .news_box_desc {
    display: none;
}
.archive_posts_feature .news_box:not(:nth-child(1)) .news_box_desc {
    display: none;
}
.archive_posts_feature .news_box:not(:nth-child(1)) {
    width: 25%;
    float: left;
}
.archive_posts_feature .news_box.news_img_title_styl01 {
    padding: 0 6px;
}
.archive_posts_feature:after,
.archive_posts_items:after{
    content: "";
    display: table;
    clear: both;
}
.archive_posts_feature .news_box:not(:nth-child(1)) .news_box_img {
    width: 100%;
    margin: 0 0 5px 0;
}
.archive_posts_feature .news_box:not(:nth-child(1)) .news_title_desc {
    width: 100%;
}
.archive_posts_feature .news_box:not(:nth-child(1)) .news_title_desc .news_box_title {
    font-size: 14px;
    text-align: inherit;
}
.archive .archive_list_posts .archive_posts_feature .news_box:nth-child(1) .news_box_date {
    display: block !important;
}
.archive_list_posts .archive_posts_feature .news_box:nth-child(1) .news_box_title {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 26px;
}
.archive_posts_items_right {
    width: 189px;
    float: right;
}
.archive_posts_items_left {
    width: 100%;
    float: left;
    width: calc(100% - 189px - 15px);
    width: -moz-calc(100% - 189px - 15px);
    width: -webkit-calc(100% - 189px - 15px);
}
.archive_posts_items_left .news_box ~ .news_box {
    padding-top: 15px;
    border-top: 1px solid #ccc;
}
.archive_posts_items_right .widget_media_image {
    text-align: center;
}
h1.single_title {
    font-size: 36px;
    margin: 0 0 10px 0;
}
h2.excerpt_post {
    font-size: 16px;
    line-height: 24px;
}
.bvlienquan {
    padding: 10px 0 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.bvlienquan ul {
    padding: 0;
    margin: 0 0 0 20px;
    color: #af0603;
    font-size: 20px;
}
.bvlienquan ul li a{
    font-family: 'RB';
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #206702;
    font-size: 14px;
}
.single_toolbar:after {
    content: "";
    display: table;
    clear: both;
}
.single_toolbar {
    font-size: 12px;
    color: #9b9b9b;
}
.single_toolbar [class*="news_box_"] {
    float: left;
    margin: 0 15px 5px 0;
    position: relative;
    white-space: nowrap;
    padding-left: 18px;
}
.single_toolbar [class*="news_box_"]:before {
    content: "\f073";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    left: 0;
}
.single_toolbar .news_box_views:before {
    content: "\f06e";
}
.single_tags {
    position: relative;
    padding-left: 30px;
}
.single_tags:before {
    content: "\f02c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 17px;
}
.single_tags a {
    font: 12px 'RB';
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 0 5px;
    line-height: 24px;
    border-radius: 3px;
    background-color: #f1f1f1;
    margin: 0 10px 10px 0;
    float: left;
    letter-spacing: 0.5px;
}
.single_tags:after {
    content: "";
    display: table;
    clear: both;
}
.like_share {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    overflow: hidden;
}
.like_share a {
    font: 14px 'RB';
    display: inline-block;
    padding: 0 10px 0 30px;
    margin-right: 15px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    height: 27px;
    line-height: 27px;
    position: relative;
}
.like_share a.share_fb {
    background: #3a5998;
    color: #fff !important;
}
.like_share a.share_fb:before,
.like_share a.share_gg:before,
.like_share a.print:before,
.like_share a.send_email:before{
    content: "\f09a";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 6px;
    left: 10px;
    color: #fff;
}
.like_share a.share_gg:before {
    content: "\f0d5";
}
.like_share a.share_fb:hover {
    background: rgba(58, 89, 152, 0.8);
}

.like_share a.share_gg {
    background: #f5313e;
    color: #fff !important;
}
.like_share a.share_gg:hover {
    background: rgba(245, 49, 62, 0.8);
}
.like_share a.print,
.like_share a.send_email{
    float: right;
}
.like_share a.print:before {
    content: "\f02f";
    color: #c5c5c5;
}
.like_share a.send_email:before {
    content: "\f0e0";
    color: #c5c5c5;
}
/*Comment style*/
span.title_comment {
    font-size: 20px;
    color: #606664;
    line-height: 1.3em;
    font-weight: 700;
    margin: 0 0 15px;
    display: inline-block;
}
.comment-author.vcard {
    width: 25px;
}
#formcmmaxweb {
    position: relative;
    margin-bottom: 20px;
    padding: 20px 15px 20px 15px;
    overflow: hidden;
    background-color: #f0f0f0;
}
#formcmmaxweb .nameuser {
    text-align: left;
}
#formcmmaxweb .avatarmw img {
    float: left;
    margin: 5px 10px 0 0;
    border: 1px solid #ccc;
    padding: 5px;
}
.comments-title-maxweb {
    margin: 30px 0;
    font-weight: normal;
}
.commentlist {
    margin-top: 10px;
}
.comment-author.vcard {
    float: left;
    clear: both;
    z-index: 2;
    position: relative;
    text-align: center;
}
.commentlist li {
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
}
.commentlist .children {
    margin-top: 10px;
}
.commentBody em {
    color: red;
}
.commentBody {
    position: relative;
    margin-left: 35px;
    overflow: hidden;
}
.comment-meta.commentmetadata {
    position: relative;
    padding: 0;
    margin: 0 0 5px;
}
.noidungcomment {
    font-size: 16px;
    line-height: 24px;
}
.cancel-comment-reply a {
    font-size: 14px;
    text-decoration: none;
    color: #ed1b2f;
}
.nocomments {
    border-color: #D98D8D;
    background-color: #FFCECE;
    background-position: left -792px;
    color: #665252;
    padding: 10px;
}
.comment-meta.commentmetadata .ngaythang {
    position: absolute;
    top: 0;
    right: 0;
    color: #337ab7;
    opacity: 0.3;
    font-size: 12px;
}
.commentBody:hover .comment-meta.commentmetadata .ngaythang{
    opacity: 1;
}
.commentBody .reply {
    float: right;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.comment-meta.commentmetadata .fn {
    font-weight: 700;
    color: #333;
    margin: 0;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 22px;
    margin-top: 2px;
}

ol.commentlist_mw,
ol.commentlist_mw ul.children {
    list-style: none;
}
ol.commentlist_mw li{
    margin-bottom: 10px;
}
ol.commentlist_mw > ul.children{
    margin: 10px 0 15px 35px;
    background: #f1f1f1;
    padding: 10px;
    position: relative;
}
ol.commentlist_mw > ul.children:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 14px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #f1f1f1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
div.error {
    color: red;
    font-size: 12px;
    text-align: left;
    line-height: 16px;
    margin: 3px 0 0;
}
.tools_comment a {
    color: #4a90e2;
    font-size: 14px;
    position: relative;
    padding: 0 15px 0 0;
    margin: 0 7px 0 0;
    line-height: 14px;
}
.tools_comment a:after {
    content: "";
    width: 4px;
    height: 4px;
    top: 50%;
    margin-top: -2px;
    background: #999;
    position: absolute;
    right: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.tools_comment a:last-child:after{
    display: none;
}
.tools_comment a:last-child{
    padding: 0;
    margin: 0;
}
.noidungcomment p {
    margin: 0 0 5px;
}
#formcmmaxweb  input[type="submit"],
#formcmmaxweb input[type="button"],
#formcmmaxweb input[type="reset"],
#formcmmaxweb article.post-password-required input[type=submit],
#formcmmaxweb li.bypostauthor cite span {
    padding: 6px 10px;
    padding: 0.428571429rem 0.714285714rem;
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 1.428571429;
    font-weight: normal;
    color: #7c7c7c;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
#formcmmaxweb button, #formcmmaxweb input, #formcmmaxweb textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-family: inherit;
    padding: 6px;
    padding: 0.428571429rem;
}
#formcmmaxweb button,
#formcmmaxweb input[type="submit"],
#formcmmaxweb input[type="button"],
#formcmmaxweb input[type="reset"] {
    cursor: pointer;
}
.reply a.comment-reply-link {
    color: #337ab7;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
}
.reply a.comment-reply-link:hover {
    color: #c7a611;
}
#formcmmaxweb p,
#formcmmaxweb input,
#formcmmaxweb textarea{
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 14px;
}
#formcmmaxweb input,
#formcmmaxweb textarea{
    border: 1px solid #ccc;
    color: #333;
    display: block;
    background: #fff;
}
#formcmmaxweb input:focus,
#formcmmaxweb textarea:focus{
    border-color: #337ab7;
}
#formcmmaxweb p{
    margin-bottom: 10px;
    text-align: center;
}
#formcmmaxweb #commentform p{
    overflow: hidden;
}
#formcmmaxweb .name-email p{
    width: 50%;
    float: left;
}
#formcmmaxweb .name-email p:first-child{
    padding-right: 5px;
}
#formcmmaxweb .name-email p:last-child{
    padding-left: 5px;
}
#formcmmaxweb input#submit {
    font: 15px 'RB';
    display: inline-block;
    padding: 3px 30px;
    line-height: 27px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed1b2f;
    margin-top: 10px;
    width: auto;
    float: left;
    border: 0;
}
#formcmmaxweb input#submit:hover {
    background: #3a5998;
}
#formcmmaxweb  ::-webkit-input-placeholder {
    color: #999999;
}

#formcmmaxweb ::-moz-placeholder { /* Firefox 18- */
    color: #999999;
}

#formcmmaxweb ::-moz-placeholder {  /* Firefox 19+ */
    color: #999999;
}

#formcmmaxweb ::-ms-input-placeholder {
    color: #999999;
}
ol.commentlist_mw {
    margin-bottom: 30px;
}
/*#comment style*/
div#toolbar .left a {
    float: none;
    display: inline-block;
}
div#toolbar .left {
    height: 50px;
    overflow: hidden;
}
.single_comment {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}
h1.title_style2 {
    font-size: 22px;
    margin: 0 0 15px 0;
    line-height: 28px;
}
.relatedcat .row > div:nth-child(3n+1) {
    clear: both;
}
@media (max-width: 767px){
    .relatedcat .row > div:nth-child(3n+1) {
        clear: none;
    }
    .relatedcat .row > div:nth-child(2n+1) {
        clear: both;
    }
}
.relatedcat .row > div {
    margin-bottom: 20px;
}
.relatedcat {
    background-color: #f1f1f1;
    padding-top: 20px;
}
#gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
}
.footer_copyright{
    font-size: 10px;
    line-height: 30px;
    text-align: right;
    color: #666;
    text-transform: uppercase;
}
.menu_header .search,
.xs-clear{
    display: none;
}
.video_main_container {
    margin: 0 0 10px 0;
}
.video_infor h1.single_title {
    font: 24px 'RB';
    display: block;
}
.after_video_infor .widget {
    margin: 0 0 10px 0;
}
.after_video_infor .widget.widget_media_image {
    text-align: center;
}
.video_infor .like_share {
    margin: 0;
    border: 0;
    padding: 0 0 20px 0;
}
.video_infor .like_share a {
    margin-right: 0;
}