.wpp-no-data {
} .wpp-list {	
} .wpp-list li {
overflow: hidden;
float: none;
clear: both;
} .wpp-list li.current {
} .wpp-thumbnail {
display: inline;
float: left;
margin: 0 5px 0 0;
border: none;
} .wpp-post-title {
} .wpp-excerpt {
} .wpp-meta, .post-stats {
display: block;
font-size: 0.8em;
font-weight: bold;
} .wpp-comments {
} .wpp-views {
} .wpp-author {
} .wpp-date {
} .wpp-category {
} .wpp-rating {
}