<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.header_nav, .news_slider.style1 {
    background-color: #005aab !important;
}
</style>
<!-- end Simple Custom CSS and JS -->
